body
{
    background:#1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form_header
{
    position: static;
    margin: auto;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    width: max-content;

}

.error
{
    position:static;
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: auto;
    width: max-content;
}

.success
{
    position:static;
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: auto;
    width: max-content;
}

.frmRegister
{
    position: static;
    margin: auto;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    width: max-content;
    align-content: center;
}

#Submit
{
    position: relative;
    margin-left: 65px;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    width: max-content;
}

h4
{
    position: static;
    margin: auto;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    width: max-content;
}

h1
{
    text-align: center;
    color: #fff;
}

a
{
    justify-items: center;
    background: #fff;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover
{
    opacity: .7;
}